body {
  background: #abbaab;
  background: -webkit-linear-gradient(to top left, #ffffff, #abbaab);
  background: linear-gradient(to top left, #ffffff, #abbaab);
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
  min-width: 200px;
  position: relative;
}